<div>
    <h1>{{{ title }}} </h1>
    <hr/>
    <table class="table">
        <tr "table-primary">
            <td>Id</td>
            <td>Title</td>
            <td>Description</td>
            <td>Code</td>
            <td>Price</td>
            <td>Status</td>
            <td>Stock</td>
            <td>Category</td>
            <td>Thumbnail</td>
        </tr>
        {{#each listProducts}}
            <tbody>
                <tr class="table-primary">
                    <td>{{id}}</td>
                    <td>{{title}}</td>
                    <td>{{description}}</td>
                    <td>{{code}}</td>
                    <td>{{price}}</td>
                    <td>{{status}}</td>
                    <td>{{stock}}</td>
                    <td>{{category}}</td>
                    <td>{{thumbnail}}</td>
                </tr>
            </tbody>
        {{/each}}
    </table>
</div>